<VirtualHost *:80>
    DocumentRoot "/var/www/drupal"
    ServerName drupal.local
    ServerAlias www.drupal.local

    <Directory "/var/www/drupal">
        Options Indexes FollowSymLinks Includes ExecCGI
        AllowOverride All
        Order allow,deny
        Allow from all
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/drupal_error.log
</VirtualHost>
